*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #d4bdde;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1, p {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 3.5rem;
}

.chart{
    padding: 0.5rem;
    border: 1px solid #f49131;
    border-radius: 1rem;
    background: #d2e5ff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);

}